# vim: sw=4 et

[include]
    path = ~/.gitconfig_include
[core]
    fscache = true
    preloadindex = true
[alias]
    s = status
    ch = checkout
    c = config
    cl = config -l
    ce = config -e
    g = gui
    cr = clone --recursive
    f = fetch
    down = pull
    up = push
    a = add
    aa = add -A
    b = branch
    d = diff --word-diff=color --minimal --ignore-space-change --unified=5
    m = merge
    l = log --oneline --graph --decorate --all
    la = log --graph --decorate --all --show-signature
    tags = tag -l
    branches = branch -a
    remotes = remote -v
    contributors = shortlog --summary --numbered
[color]
    ui = auto
[gpg]
    program = gpg2
[diff]
    renames = copies
[help]
    autocorrect = 30
[gui]
    fontdiff = -family \"Fira Code\" -size 10 -weight normal -slant roman -underline 0 -overstrike 0
    warndetachedcommit = true
    spellingdictionary = none
    tabsize = 4
[push]
    default = matching
    followTags = true
[pull]
    ff = only
[init]
    defaultBranch = main

