#[user]
#	name = Compilenix
#	email = Compilenix@compilenix.org
[alias]
    s = status
    c = config
    ch = checkout
    cl = config -l
    ce = config -e
    f = fetch
    p = pull
    a = add
    aa = add -A
    b = branch
    d = diff
    dr = diff origin/master
    l = log --oneline --graph --decorate --all
    la = log --graph --decorate --all
[push]
    default = matching
#[core]
#    fileMode = false
[oh-my-zsh]
    hide-status = 1
[include]
    path = ~/.gitconfig_include

# vim: sw=4 et
[gui]
	fontdiff = -family \"Source Code Pro\" -size 11 -weight normal -slant roman -underline 0 -overstrike 0
	warndetachedcommit = true
	spellingdictionary = none
	tabsize = 4
