exec --no-startup-id mako
exec --no-startup-id udiskie --appindicator --automount --notify --file-manager nautilus
#exec --no-startup-id jetbrains-toolbox --minimize
#exec --no-startup-id seafile-applet
#exec --no-startup-id nextcloud
#exec --no-startup-id redshift-gtk -l 53.550741:9.993028 -t 6500:5250
